/*
#379392
#4FB0C6
#4F86C6
#6C49B8
*/

html {
  font-size: 20px;
  font-family: sans-serif;
  /*background: #6C49B8;*/
}

p {
  text-align: center;
}

.calc-container {
  margin: 20px auto;
  width: 300px;
  background: #4FB0C6;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.screen {
  text-align: right;
  background-color: white;
  height: 40px;
  line-height: 40px;
  padding: 10px;
}

.buttons {
  width: 100%;
}

.top-buttons {
  background: #4FB0C6;
}

.zero {
  width: 150px;
  text-align: right;
  padding-right: 33px;
}

.op-buttons {
  background: #379392;
}

button {
  background: #4FB0C6;
  width: 75px;
  height: 50px;
  border: none;
  float: left;
  font-size: 90%;
  outline: none;
}

button:hover,
button:active {
  cursor: pointer;
  background: darkgray;
}
