/*
#379392
#4FB0C6
#4F86C6
#6C49B8
*/

html {
  font-size: 20px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  height: 100%;
  font-family: 'Arvo', serif;
}

h1 {
  text-align: center;
  font-size: 150%;
  color: black;
}

.calc-container {
  margin: 40px auto;
  width: 300px;
  background: #4FB0C6;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 6px -2px rgba(133,133,133,1);
}

.screen {
  text-align: right;
  background-color: white;
  height: 40px;
  line-height: 40px;
  padding: 10px;
  /*border: 1.5px solid black;*/
}

.buttons {
  width: 100%;
}

.top-buttons {
  background: #4FB0C6;
}

.zero {
  width: 150px;
  text-align: right;
  padding-right: 33px;
}

.op-buttons {
  background: #379392;
}

button {
  background: #4FB0C6;
  width: 75px;
  height: 50px;
  border: none;
  float: left;
  font-size: 90%;
  outline: none;
  /*border: 0.5px solid black;*/
}

button:hover,
button:active {
  cursor: pointer;
  background: darkgray;
}
